[Unit]
Description=Rotate machine-id at boot
DefaultDependencies=no
Before=dbus.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/rotate-machine-id

[Install]
WantedBy=multi-user.target
